include bindings/*.hpp
include bindings/*.cpp
include setup.py
include MANIFEST.in
include LICENSE
include README.md
include VERSION

graft examples
graft tests
graft miniball

exclude **/.DS_Store
exclude **/__pycache__/**
